{% extends 'base.html' %}

{% block body %}

<div class="container d-flex align-items-center justify-content-center" style="height:91vh;max-width:100%;">
    
    <form method="post" action="/create" class="border rounded shadow-lg" style="background-color:white" >
        {% csrf_token %}
        <h2 class=" text-center my-4 mx-3 fs-3 fw-bold">Create a new Poll</h2>

        <div class="d-flex align-items-center justify-content-center flex-column ">

            <div class="mb-3" style="width:80%">
                <label for="question" class="form-label">Question</label>
                <input type="text" name="question" class="form-control" id="question" placeholder="Question for the poll">
            </div>

            <div class="mb-3" style="width:80%">
                <label for="answers" class="form-label">Answers</label>
                <div>
                    <input type="text" name="option_one" class="form-control mb-3" id="answer1" placeholder="Option 1">
                    <input type="text" name="option_two" class="form-control my-3" id="answer2" placeholder="Option 2">
                    <input type="text" name="option_three" class="form-control my-3" id="answer3" placeholder="Option 3">
                </div>
            </div>

            <div class="d-flex align-items-center justify-content-between" style="width:80%">
                <label for="deadline" class="form-label"  style="width:25%">Voting deadline</label>
                <input type="date" name="deadline" id="deadline" class="form-control my-3">
            </div>



        <div class="d-flex align-items-center justify-content-center" >
            <a href="/"><button type="button" class="btn btn-outline-success mx-4 my-3">Back to Home</button></a>
            <button type="submit" class="btn  btn-success mx-4 my-3">Create</button>
        </div>
    </form>
</div>

{% endblock body %}
