{% extends 'base.html' %}


{% block body %}

<div class="container overflow-hidden" >

    <div class="d-flex flex-column justify-content-center align-items-center flex-column my-5">
        <h1>Public Polls</h1>
        <span class="text-secondary">Below are the currently available public polls</span>
    </div>

    <div class="d-flex justify-content-center align-items-center flex-wrap my-5">

        {% for poll in polls %}

        <div class=" relative card shadow d-flex justify-content-center align-items-center  my-3" style="width: 80%">

            

            <div class="card-body" style="width: 100%">
              <p class="card-text fw-bolder fs-4 " style:"font-family: 'Poppins', sans-serif">{{poll.question}}</p>
              
            </div>

            <div class="d-flex justify-content-end align-items-center p-4"  style="width: 100%" >
                <span class="text-secondary mx-2">Created by {{poll.created_by}}</span>
                <a href="vote/{{poll.id}}"><button type="button" class="btn btn-outline-success mx-1">Vote</button></a>
                <a href="result/{{poll.id}}"><button type="button" class="btn btn-outline-success mx-1">View results</button></a>
            </div>

            <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-warning p-2">{{poll.option_one_count|add:poll.option_two_count|add:poll.option_three_count}} votes</span>

        </div>



        {% endfor %}

        

    </div>
</div>

{% endblock body %}
